<h1>About</h1>
<h4>This is a Node/Express App For Keeping Track Of New Coding Concepts Currently Being Studied</h4>
<p>This app runs in node, is routed with express, and has it's views rendered with Handlebars.</p>
<p>It also uses bootstrap for styling, passport for authentication, bcrypt for scrambling passwords,
mongo as it's database, mongoose as a DB framework, flash for showing messages,
    and method override to allow put and delete requests to be made from html forms without using AJAX.</p>
<p>Version: 1.0.0</p>