<div class="jumbotron text-center">
    <img class="main-logo" src="/img/logo copy.png" alt="">
  <h3 class="display-4">{{title}}</h3>
  <p class="lead">What Are You Going To Study Next?</p>
    {{#if user}}
        <a href="/skills/add" class="btn btn-dark btn-lg">Add Skill</a>
    {{else}}
        <a href="/users/login" class="btn btn-dark btn-lg">Log In</a>
        <a href="/users/register" class="btn btn-dark btn-lg">Register</a>
    {{/if}}

</div>